node_modules/

dist/
dist-ssr/
.vite/
coverage/
*.tsbuildinfo
.eslintcache
.stylelintcache

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env
.env.*
*.env
*.env.*
.envrc
.direnv/
*.local

*.md

[Bb]in/
[Oo]bj/
[Oo]ut/
[Aa]rtifacts/
[Pp]ublish/

.vs/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
.idea/
*.suo
*.user
*.rsuser
*.userosscache
*.sln.docstates
*.sln.iml
*.ntvs*
*.njsproj
*.sw?

[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml
coverage*.json
coverage*.xml
coverage*.info

packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts.json

*.pubxml
*.pubxml.user
*.publishproj
*.azurePubxml

**/App_Data/*.mdf
**/App_Data/*.ldf
secrets.json
*.pfx
*.p12
*.snk

.DS_Store
Thumbs.db
Desktop.ini
